@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

:root {
	--wrapper: 1440px;
	--color-primary: hsl(12, 88%, 59%);
	--color-text: hsl(228, 39%, 23%);
	--color-palo-rosa: hsl(13, 100%, 96%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* padding: 5rem; */
	font-family: "Be Vietnam", sans-serif;
	background-image: url("./../images/bg-tablet-pattern.svg");
	background-repeat: no-repeat;
	background-position: calc(100% + 10rem) -15rem;
}
.header {
	max-width: var(--wrapper);

	margin: 0 auto;
	height: 80px;
	display: flex;
	align-items: center;
}
.header__nav {
	flex: 1;
	justify-content: center;
}
.header__list {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 2rem;
}
.header__link {
	text-decoration: none;
	color: var(--color-text);
}
.header__menu {
	display: none;
}

.fila {
	display: flex;
	flex-wrap: wrap;
	max-width: var(--wrapper);
	margin: 0 auto;
}
.columna {
	flex: 50%;
	max-width: 50%;
}
.main__banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__banner img {
	max-width: 100%;
}
.middle {
	background-image: url("./../images/bg-tablet-pattern.svg");
	background-repeat: no-repeat;
	position: absolute;
	/* background-color: #222; */
	height: 700px;
	width: 1000px;
	top: 50rem;
	left: -20rem;
	background-position: 0 0;
	z-index: -1;
}

.media {
	position: relative;
	margin-bottom: 1rem;
}
.media__number {
	position: absolute;
	width: 3rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	color: white;
	background-color: var(--color-primary);
}

.media__title,
.media__text {
	/* position: relative; */
	padding-left: 4rem;
}

.media__title {
	margin-bottom: 0.8rem;
}
.btn {
	padding: 0.5rem 1rem;
	background-color: var(--color-primary);
	border: none;
	outline: none;
	color: white;
	border-radius: 1rem;
}
.comments__title {
	text-align: center;
	margin-bottom: 3rem;
}
.comments__container {
	display: flex;
}
.comment {
	flex: 1;
	/* background-color: red; */
	padding: 1rem;
}
.comment__box {
	background-color: #f8f8f8;
	height: 100%;
	text-align: center;
	border-radius: 2px;
	padding: 0 0.5rem 0.5rem 0.5rem;
}

.comment__img img {
	width: 4rem;
	height: 4rem;
	transform: translate(0, -50%);
}
.comment__name {
	margin-bottom: 1rem;
}
.message {
	background-color: var(--color-primary);
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("./../images/bg-simplify-section-desktop.svg");
}
.message__wrapper {
	max-width: var(--wrapper);
	margin: 0 auto;
	flex: 1;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 768px) {
	.columna {
		flex: 100%;
		max-width: 100%;
	}
	.columna:nth-child(1) {
		order: 2;
	}
	.columna:nth-child(2) {
		order: 1;
	}
	.columna:nth-child(3) {
		order: 3;
	}
	.columna:nth-child(4) {
		order: 4;
	}
	.media__title {
		background-color: var(--color-palo-rosa);
		height: 2rem;
		display: flex;
		align-items: center;
	}
	.media__text {
		padding: 0;
	}
	.header__nav,
	.header__button {
		display: none;
	}
	.header.open {
		flex-wrap: wrap;
	}
	.header.open * {
		transition: 0.3s all ease;
	}

	.header.open .header__menu,
	.header.open .header__logo {
		display: flex;
		flex: 50%;
		max-width: 50%;
	}
	.header.open .header__menu {
		order: 2;
		justify-content: flex-end;
	}
	.header.open .header__logo {
		order: 1;
	}
	.header.open .header__nav {
		order: 3;
	}

	.header.open .header__nav {
		margin-top: 1rem;
		display: flex;
		flex: 100%;
		padding: 1rem;
		box-shadow: #bbb 0px 0px 5px;
	}
	.header.open .header__list {
		display: flex;
		flex: 100%;
		flex-direction: column;
		gap: 0.5rem;
	}
	.header.open .header__item {
		display: flex;
		justify-content: center;
	}

	.header__menu {
		display: block;
	}
	.header {
		justify-content: space-between;
		height: fit-content;
	}
}
