@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: "Raleway", sans-serif;
	color: #444;
}
body {
	background-color: #5d3250;
}
.header {
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 5px 50px;
}
.header__logo {
	display: flex;
	/* gap: define el espacio interno que va a haber entre
   todos los hijos flexibles */
	gap: 20px;
	/* background-color: blue; */
	align-items: center;
}
.header__img {
	max-height: 100%;
}
.header__brand {
	font-size: 28px;
}

.header__nav {
	/* background-color: blue; */
	/* flex: 1; */
}
.header__links {
	/* background-color: red; */
	list-style: none;
	display: flex;
	height: 100%;
	gap: 40px;
}
.header__link {
	/* background-color: yellow; */
	display: flex;
	align-items: center;
	transition: 0.1s all ease;
	cursor: pointer;
}
.header__link:hover {
	border-bottom: 4px solid #08a135;
}

/*
 El selector a continuación se lee:

 "Cuando la etiqueta <a> tenga su contendor en etado hover
 (header__link:hover) realizar transform

*/
.header__link:hover a {
	transform: translate(0, 2px);
}

.header__link a {
	text-decoration: none;
	color: #444;
}

.header__botones {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header__btn {
	font-family: "Raleway", sans-serif;
	min-width: 120px;
	padding: 6px 4px;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 4px;
	box-shadow: #ccc 0px 3px 3px;
	cursor: pointer;
	font-weight: 500;
}
.header__btn:hover {
	box-shadow: #ccc 0px 1px 3px;
}

.header__btn-primary {
	background-color: #08a135;
	border: 1px solid #08832d;
	color: #eee;
}
.header__btn-primary i {
	color: #eee;
	margin-left: 5px;
}
.header__btn-secondary {
	border: 1px solid #ddd;
}
.header__btn-secondary i {
	color: #444;
	margin-left: 5px;
}
