*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.section1{
  background-color:#34ff50;
  height: 300px;
}

.section2{
  height:500px;
  background-color:lightgray;
  background-image: url('./fondo.jpg');
  background-size:cover;
  background-position: center;
  /* background-attachment: fixed;
  overflow:scroll; */
}

.section3{
  height:500px;
  background-image:url('https://picsum.photos/300/300');
  background-repeat: no-repeat;
}

.section4, .section5{
  height:500px;
}

/* gradientes */

.section4{
  /* linear-gradient(dirección, */
  background-image:linear-gradient(to top, #ff4456, #6748aa);
}

.section5{
  /* v25 de Chrome, para arriba esto funciona.
  -webkit-linear-gradient -moz-  */
  /* se le puede poner un background simple para versiones
  antiguas de navegadores */
  background-color:#ddaa43;
  background-image:radial-gradient(circle,#ddaa43,#45ff20);
}