*{
  font-family:Arial, Helvetica, sans-serif;
}

section{
  border-radius:10px;
  width:500px;
}

.form-personal{
  background-color: coral;
}

.form-social{
  background-color:steelblue;
}

.form-profesional{
  background-color:aquamarine;
}

.inputsteam{
  background-color: darkblue;
  color:white;
}

input{
  border-radius:5px;
  border:none;
  background-color: lightblue;
  /* background-color: lightblue !important; */
}